@media(max-width:780px){
    .fold{
        margin-left: 15px;
        font-size: 58px;
    }
    .bone{
        font-size: 50px;
        margin-left: 20px;
    }
    .fling{
        font-size: 17.7px;
        margin-left: 15px;
    }
    .sevenn{
        margin-left: -390px;
        font-size: 11.5px;
    }
    .eighty{
        padding-right: 90px;
    }
    .gillt{
        padding-right: 90px;
    }
    .tenk{
        padding-right: 391px;
    }
    .twof{
        padding-right: 391px;
    }
    .fivei{
       width: 550px;
       margin-left: 3px;
    }
    .sixb>button{
       padding-left: 229px;
       padding-right: 229px;
       margin-left: 50pxpx;
    
    }
    .ten{
        margin-left: 0px;
        width: auto;
    }
    .four{
        margin-left: 14px;
        font-size: 26px;
        margin-top: -10px;
    }
    .nine{
        margin-left: 30px; 
        font-size: 16px;
    }
    .six{
        margin-left: 20px;
        font-size: 20px;
    }
    .buns{
        margin-left: -30px;
    }
    .man{
        display: flex;
        flex-direction: column;
    }
    .eight{
        margin-left: 160px;
    }
    .seven{
        margin-left:35px;
    }
    .eleven{
        margin-top: 25px;
        margin-left:35px ;
    }
    .twelve{
        margin-left: 160px;
    }
    .sixt{
        margin-top: -10px;
        margin-left:35px ;
    }
    .fout{
        margin-left: 180px;   
    }
    .sept{
        margin-top: -19px;
        margin-left:35px ;
    }
    .duo{
        margin-left: 170px; 
    }
    .nimb{
        margin-top: -19px;
        margin-left:35px ;
    }
    .trax{
        margin-left: 148px; 
    }
    .goal{
        border: none;
        border-style: none;
    }
    .dropdown-itemm{
        margin-left: -850px;
        border-style: none;
        border: none;
       
    }
    .dropdown-itemk{
        margin-left: -730px;
        border-style: none;
        border: none;
    }
    .dropdown-itemg{
        margin-left: -1010px;
        border-style: none;
        border: none;
    }
    .hill{
        border-style: none;
        border: none;
    }
    .kill{
        border: none;
        border-style: none;
    }
    
    
    
    
    
    }
    
    